<dag-nav-bar title="{{name}}" go-back-transition="false" go-back="correspondentDevice" invert></dag-nav-bar>
<div>

    <style>
        .purge_chat a {
            color: #883333;
            border: 1px dashed #883333;
            border-width: 0 0 1px 0;
        }
    </style>

    <div class="columns m20t m20b">
        <div>
            <span translate>Full address:</span>
            <div class="size-10 text-gray ellipsis">{{correspondent.device_address}}@{{hub}}</div>
        </div>

        <form name="editForm" class="m20t" no-validate>
            <div class="text-warning size-12 m10b" ng-show="error">{{error|translate}}</div>

            <div class="input-wrap">
                <span translate>Rename:</span>
                <input type="text" id="name" name="name" ng-model="name" required>
            </div>

            <div class="input-wrap">
                <span translate>Change hub:</span>
                <input type="text" id="hub" name="hub" ng-model="hub" required>
            </div>


            <div class="row">
                <button type="submit"
                        class="btn btn_red-full"
                        ng-disabled="!editForm.$valid"
                        ng-style="{'background-color':backgroundColor}"
                        ng-click="save()">{{'Save'|translate}}
                </button>
            </div>
        </form>

        <div class="purge_chat columns center m20t"><a href="#" ng-click="purge_chat()" translate>clear chat history</a>
        </div>
    </div>

    <div class="extra-margin-bottom"></div>
</div>