<dag-nav-bar title="{{ 'Wallet Type' | translate}}" invert go-back="system"></dag-nav-bar>

<div class="content preferences">
    <div class="selections">
        <ul>
            <li class="selection">
                <div class="selection_title">
                    {{ 'light wallet' | translate }}
                </div>
            </li>
            <li class="selection">
                <div class="selection_title">
                    {{ 'full wallet' | translate}}
                </div>
            </li>
        </ul>
        <div class="wallets_types_warning">
            The wallet will contain the most current state of the entire Dagcoin database.
            This option is better for privacy but will take several gigabytes of storage and the initial sync will take several days.
            CPU load will be high during sync. After changing to full wallet your money won't be visible until database will synchronize your transactions.
        </div>
    </div>
</div>
