<dag-nav-bar title="{{ 'Search Contacts' | translate }}" go-back="contacts"></dag-nav-bar>

<div class="contacts content">
    <div class="contacts_search_bar">
        <svg-icon name="search2" class="search_icon"></svg-icon>

        <button class="clear_icon btn" ng-click="contacts.clearFilter()">
            <svg-icon name="cancel"></svg-icon>
        </button>

        <input class="contacts_search_bar_input" ng-change="contacts.search()" ng-model-options="{debounce: 300}"
               autofocus type="text" name="search"
               ng-model="contacts.search_value"
               placeholder="{{ 'Search' | translate}}">

    </div>

    <div class="contacts_list" ng-scrollbars>

        {{contacts.search_value}}

        <ul>
            <li></li>
        </ul>
    </div>
</div>